<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Anagram Checker</h1>
        <form action="/score_result" method="post">
            <input type="number" name="user_score" placeholder="enter your allergy score">
            <button type="submit">Check!</button>
        </form>
    </body>
</html>
